In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic_s.csv')
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
#Используя chunksize, подсчитайте общее количество строк в датасете.
chunk_size = 1000
chunks = pd.read_csv('titanic_s.csv', chunksize=chunk_size)


total_count = 0
for chunk in chunks:
    total_count += len(chunk)

print(f"Общий объем датасета: {total_count}")

Общий объем датасета: 887

In [ ]:
#Сколько пассажиров выжило (Survived = 1) на всем корабле? Используйте чтение данных чанками (chunksize = 100).

In [4]:
#Найдите средний возраст всех пассажиров. Округлите результат до одного знака после запятой. Используйте chunksize.
chunk_size = 100
chunks = pd.read_csv('titanic_s.csv', chunksize=chunk_size)
total_age = 0
total_count = 0
for chunk in chunks:
    total_age += chunk['Age'].sum()
    total_count+= chunk['Age'].count()
average = round(total_age / total_count,1)
print(average)

29.5

In [5]:
#Подсчитайте, сколько пассажиров имеют возраст старше 50 лет (Age > 50).
chunk_size = 100
chunks = pd.read_csv('titanic_s.csv', chunksize=chunk_size)
total_age_50 = 0
for chunk in chunks:
    total_age_50 += (chunk['Age'] > 50).sum()
print(total_age_50)

72

In [7]:
#Найдите максимальное значение в колонке Fare по всему датасету. Используйте chunksize = 200
chunk_size = 200
chunks = pd.read_csv('titanic_s.csv', chunksize=chunk_size)
max_fare = 0
for chunk in chunks:
    chunk_max=chunk['Fare'].max()
    if chunk_max > max_fare:
        max_fare = chunk_max
print(max_fare)

512.3292

In [11]:
#Сколько пассажиров находилось в третьем классе (Pclass = 3)
chunk_size = 200
chunks = pd.read_csv('titanic_s.csv', chunksize=chunk_size)
count = 0
for chunk in chunks:
    filtered_chunk = chunk[(chunk['Pclass'] == 3)]
    count += len(filtered_chunk)
print(count)

487